.everything{
	font-family: helvetica;
}

.banner{
	background: url(http://www.lovethispic.com/uploaded_images/27738-Breakfast.jpg);
	background-size: cover;
	height:100%;
	width: 100%;

}

h1{
	font-family: helvetica;
	color: gray;
	top: 0px;
	bottom: 0px;
	text-align: center;
	font-size: 50px;
	height: 100%;
	width:500px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 5px solid gray;
}

.body {
	text-align: center;
}

.body h2 {
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 50px;
	color: gray;
}

.line-separator {
	height: 0.5px;
	background: #717171;
	border-bottom: 1px solid #313030;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

ul {
	font-size: 24px;
	line-height: 50px;
	list-style-type: none;
	color: black;
}


