.everything{
	font-family: helvetica;
}

.banner{
	background: url(http://www.lovethispic.com/uploaded_images/27738-Breakfast.jpg);
	background-size: cover;
	height:390px;
	width: 979px;
	top: 0;
	position: absolute;
}

.banner h1{
	font-family: helvetica;
	color: gray;
	top: 0px;
	bottom: 0px;
	text-align: center;
	font-size: 50px;
	height: 75px;
	width:500px;
	background-color: white;
	border: 5px solid gray;
	margin-left: auto;
	margin-right: auto;
}


.intro{
	float: left;
	margin-right: 70%;
}

.intro h2{
	font-size: 26px;
	color: gray;
	height: 45px;
	width: 70%;
}

.intro p{
	font-size: 18px;
	color:gray;
	line-height: 38px;
	width: 70%;
}

.intro img{
	width: 65%;
}

.sidenav {
	position: relative;
	width: 60%;
	font-size: 20px;
	color: gray;
}



